@using _123TribeFrameworker.Models.DirModels
@using _123TribeFrameworker.Entity
@model Pager<List<ThirdLevelDirModel>>
@{
    ViewBag.Title = "菜单设置-三级菜单";
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('table.datatable').datatable({
                checkable: true,
                checkByClickRow: true,
                sortable: true,
                fixedHeader: true
            });
            $('#myPager').on('onPageChange', function (e, state, oldState) {
                if (state.page !== oldState.page) {
                    var href = $('#searchCondition').attr("action");
                    href = href + "?page=" + state.page;
                    $('#searchCondition').attr("action", href);
                    $('#searchCondition').submit();
                }
            });
            //$('table.datatable').datatable().on("checksChanged.zui.datatable", function (event) {
            //    var myDatatable = $('table.datatable').data('zui.datatable');
            //    var checkStatus = myDatatable.checks;
            //    if (checkStatus.checks.length != 1) {

            //    }
            //     console.log("表格已重新排序！");
            //     处理 sort 事件
            //     ...
            //});
        })
        function deleteRow() {
            var myDatatable = $('table.datatable').data('zui.datatable');
            var myData = myDatatable.data.rows;
            console.log(myData)

        }
        function changeDirFormShow() {
            if ($('#changeDir').attr('hidden') != 'hidden') {
                $('#changeDir').attr('hidden', true);
            } else {
                var myDatatable = $('table.datatable').data('zui.datatable');
                var checkStatus = myDatatable.checks;
                if (typeof (checkStatus) == 'undefined' || checkStatus.checks.length == 0){
                    $('#changeDir').attr('hidden', false);
                }else if (checkStatus.checks.length > 1){
                    $('#jsAlertContext').html('同一时间只能修改一条记录，请重新选择');
                    $('#jsAlert').attr('hidden', false);
                }else{
                    $('#changeDir').attr('hidden', false);
                    var myData = myDatatable.data.rows;
                    for (var i = 0; i < myData.length; i++) {
                        if (myData[i]["id"] === checkStatus.checks[0]) {
                            var checkedData = myData[i]["data"];
                            $("input[name='id_upd']").val(checkedData[0]["text"]);
                            $("input[name='orderId_upd']").val(checkedData[1]["text"]);
                            $("input[name='content_upd']").val(checkedData[2]["text"])

                        }
                    }
                }
            }
        }
    </script>
}
<div>
    <div id="searchDir" style="margin-top:10px">
        @if (TempData["Msg"] != null)
        {
            var msgData = TempData["Msg"] as Message;
            if (msgData.success == "success")
            {
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    @msgData.msg
                </div>
            }
            else
            {
                <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    @msgData.msg
                </div>
            }

        }
        <form id="searchCondition" action="/ThirdLevelDir/searchThirdLevelDir" method="post" class="form-horizontal container">
            <div class="form-group required container">
                <label for="firstLevelID" class="col-md-1">顺序</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" value="@ViewBag.condition.orderId" id="firstLevelID" name="orderId" placeholder="数字 1，2，3..." />
                </div>
                <label for="firstLevelContent" class="col-md-1">内容</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" value="@ViewBag.condition.title" id="firstLevelContent" name="title" placeholder="模块名称" />
                </div>
                <div class="col-md-1">
                    <input type="submit" class="btn btn-block btn-primary" value="查询" />
                </div>
                <div class="col-md-1">
                    <input type="button" class="btn btn-block btn-primary" value="修改" onclick="changeDirFormShow()" />
                </div>
            </div>
        </form>
    </div>
    <div id="jsAlert" class="alert alert-warning alert-dismissable" hidden="hidden">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <label id="jsAlertContext"></label>
    </div>
    <div id="dispalyDir" style="margin-top:10px">
        <table class="table datatable" style="margin-bottom:10px">
            <thead>
                <tr>
                    <th data-ignore="true">id</th>
                    <th>顺序</th>
                    <th>模块</th>
                    <th>创建时间</th>
                    <th>创建人</th>
                    <th>最后修改时间</th>
                    <th>最后修改人</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.data.Count > 0)
                {
                    foreach (var item in Model.data)
                    {
                        <tr>
                            <td>@item.id</td>
                            <td>@item.orderId</td>
                            <td>@item.title</td>
                            <td>@item.createdDate</td>
                            <td>@item.createdBy</td>
                            <td>@item.lastUpdatedDate</td>
                            <td>@item.lastUpdatedBy</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <ul id="myPager" class="pager" data-ride="pager" data-page="@Model.page" data-rec-total="@Model.recTotal" data-rec-per-page="@Model.recPerPage" style="margin-top:0px"></ul>
    </div>
    <div id="changeDir" style="margin-bottom:10px" class="panel" hidden="hidden">
        @Html.ValidationMessage("ErrMessageOfChange", new { style = "color:red" })
        <form action="/ThirdLevelDir/changeThirdLevelDir" method="post" class="form-horizontal container">
            <div hidden="hidden">
                <input value="@ViewBag.condition.orderId" name="orderId" />
                <input value="@ViewBag.condition.title" name="title" />
                <input name="id_upd" />
            </div>
            <div class="form-group required container">
                <label for="orderId_upd" class="col-md-1">顺序</label>
                <div class="col-md-3">
                    <input type="text" class="form-control required" id="orderId_upd" name="orderId_upd" placeholder="数字 1，2，3..." />
                </div>
                <label for="content_upd" class="col-md-1">内容</label>
                <div class="col-md-3">
                    <input type="text" class="form-control required" id="content_upd" name="content_upd" placeholder="模块名称" />
                </div>
                <div class="col-md-1">
                    <input type="submit" class="btn btn-block btn-primary" value="提交" />
                </div>
                <div class="col-md-1">
                    <input type="button" class="btn btn-block btn-primary" value="删除" onclick="deleteRow()" />
                </div>
            </div>
        </form>
    </div>

</div>
