@using _123TribeFrameworker.Models.DirModels
@using _123TribeFrameworker.Entity
@model Pager<List<ThirdLevelDirModel>>
@{
    ViewBag.Title = "菜单设置-三级菜单";
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('table.datatable').datatable({
                checkable: true,
                checkByClickRow: true,
                sortable: true,
                fixedHeader: true
            });
            $('#myPager').on('onPageChange', function (e, state, oldState) {
                if (state.page !== oldState.page) {
                    var href = $('#searchCondition').attr("action");
                    href = href + "?page=" + state.page;
                    $('#searchCondition').attr("action", href);
                    $('#searchCondition').submit();
                }
            });
            $.post('/SecondLevelDir/getSecondLevelDirList', function (data) {
                data = $.parseJSON(data);
                if (data != null) {
                    $.each(data, function (key, value) {
                        $('<option value="' + key + '">' + value + '</option>').appendTo("#secondLevelID");
                        $('<option value="' + key + '">' + value + '</option>').appendTo("#secondLevelID_upd");
                    })
                    var selectedId = @ViewBag.condition.secondLevelID;
                    if (selectedId != null) {
                        $('#secondLevelID').val(selectedId);
                        $('#secondLevelID_upd').val(selectedId);
                    }
                }
            });
        })
        function updateInfo(id) {
            if (id != null) {
                $('#changeDir').attr('hidden', false);
                $('#id_upd').val(id);
                $.post('/ThirdLevelDir/getSingleThirdDir', { id: id }, function (data) {
                    data = $.parseJSON(data);
                    $('#orderId_upd').val(data.orderId);
                    $('#content_upd').val(data.title);
                    $('#url_upd').val(data.url);
                    $('#secondLevelID_upd').val(data.secondLevelID);
                });
            }
        }
        function deleteInfo(id) {
            $("#id_upd").val(id);
            $('#updateForm').attr('action', '/ThirdLevelDir/deleteThirdLevelDir');
            $('#updateForm').submit();
        }
        function changeDirFormShow() {
            if ($('#changeDir').attr('hidden') != 'hidden') {
                $('#changeDir').attr('hidden', true);
            } else {
                $('#orderId_upd').val("");
                $('#content_upd').val("");
                $('#secondLevelID').val();
                $('#changeDir').attr('hidden', false);
            }
        }
    </script>
}
<div>
    <div id="searchDir" style="margin-top:10px">
        @if (TempData["Msg"] != null)
        {
            var msgData = TempData["Msg"] as Message;
            if (msgData.success == "success")
            {
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    @msgData.msg
                </div>
            }
            else
            {
                <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    @msgData.msg
                </div>
            }

        }
        <form id="searchCondition" action="/ThirdLevelDir/searchThirdLevelDir" method="post" class="form-horizontal">
            <div class="form-group">
                <label for="firstLevelID" class="col-md-1">顺序</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" value="@ViewBag.condition.orderId" id="firstLevelID" name="orderId" placeholder="数字 1，2，3..." />
                </div>
                <label for="firstLevelContent" class="col-md-1">内容</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" value="@ViewBag.condition.title" id="firstLevelContent" name="title" placeholder="模块名称" />
                </div>
                <label for="url" class="col-md-1">URL</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" value="@ViewBag.condition.url" id="url" name="url" placeholder="url链接" />
                </div>
                </div>
            <div class="form-group">
                <label class="col-md-1">上级菜单</label>
                <div class="col-md-3">
                    <select data-placeholder="上级菜单..." id="secondLevelID" name="secondLevelID" class="chosen-select form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1">
                    <input type="submit" class="btn btn-block btn-primary" value="查询" />
                </div>
                <div class="col-md-1">
                    <input type="button" class="btn btn-block btn-primary" value="增加" onclick="changeDirFormShow()" />
                </div>
            </div>
        </form>
    </div>
    <div id="jsAlert" class="alert alert-warning alert-dismissable" hidden="hidden">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <label id="jsAlertContext"></label>
    </div>
    <div id="dispalyDir" style="margin-top:10px">
        <table class="table table-hover" style="margin-bottom:10px">
            <thead>
                <tr>
                    <th>顺序</th>
                    <th>模块</th>
                    <th>上级菜单</th>
                    <th>url</th>
                    <th>创建时间</th>
                    <th>创建人</th>
                    <th>最后修改时间</th>
                    <th>最后修改人</th>
                    <th>修改</th>
                    <th>删除</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.data.Count > 0)
                {
                    foreach (var item in Model.data)
                    {
                        <tr>
                            <td>@item.orderId</td>
                            <td>@item.title</td>
                            <td>@item.secondLevelName</td>
                            <td>@item.url</td>
                            <td>@item.createdDate</td>
                            <td>@item.createdBy</td>
                            <td>@item.lastUpdatedDate</td>
                            <td>@item.lastUpdatedBy</td>
                            <td><button class="btn btn-primary " onclick="updateInfo(@item.id)" type="button">修改</button></td>
                            <td><button class="btn btn-danger  " onclick="deleteInfo(@item.id)" type="button">删除</button></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <ul id="myPager" class="pager" data-ride="pager" data-page="@Model.page" data-rec-total="@Model.recTotal" data-rec-per-page="@Model.recPerPage" style="margin-top:0px"></ul>
    </div>
    <div id="changeDir" style="margin-bottom:10px" class="panel" hidden="hidden">
        @Html.ValidationMessage("ErrMessageOfChange", new { style = "color:red" })
        <form action="/ThirdLevelDir/changeThirdLevelDir" method="post" class="form-horizontal" id="updateForm">
            <div hidden="hidden">
                <input value="@ViewBag.condition.orderId" name="orderId" />
                <input value="@ViewBag.condition.title" name="title" />
                <input value="@ViewBag.condition.secondLevelID" name="secondLevelID" />
                <input value="@ViewBag.condition.url" name="url" />
                <input name="id_upd" id="id_upd" />
            </div>
            <div class="form-group">
                <label for="orderId_upd" class="col-md-1">顺序</label>
                <div class="col-md-3">
                    <input type="text" class="form-control required" id="orderId_upd" name="orderId_upd" placeholder="数字 1，2，3..." />
                </div>
                <label for="content_upd" class="col-md-1">内容</label>
                <div class="col-md-3">
                    <input type="text" class="form-control required" id="content_upd" name="content_upd" placeholder="模块名称" />
                </div>
                <label for="url_upd" class="col-md-1">URL</label>
                <div class="col-md-3">
                    <input type="text" class="form-control required" id="url_upd" name="url_upd" placeholder="url链接,如/Home/Index" />
                </div>
                
            </div>
            <div class="form-group">
                <label class="col-md-1">上级菜单</label>
                <div class="col-md-3">
                    <select data-placeholder="上级菜单..." id="secondLevelID_upd" name="secondLevelID_upd" class="chosen-select form-control"></select>
                </div>
                <div class="col-md-1">
                    <input type="submit" class="btn btn-block btn-primary" value="提交" />
                </div>
            </div>
        </form>
    </div>

</div>
