@using _123TribeFrameworker.Entity
@using _123TribeFrameworker.Models.BussinessModels
@model Pager<List<InventorySimpleModel>>
<script type="text/javascript">

    $(function () {
        $('#myDataGrid').datagrid({
            sortable: true,
            checkable: true,
            selectable: false
        });
        $('#dataPager').pager({
            page: @Model.page,
            recTotal: @Model.recTotal,
            recPerPage:@Model.recPerPage,
            onPageChange: function(state, oldState) {
                if (typeof(oldState.page)!="undefined" && state.page !== oldState.page) {
                    var href = $('#searchForm').attr("action");
                    href = href + "?page=" + state.page;
                    $('#searchForm').attr("action", href);
                    $('#searchForm').submit();
                }
            }
        });
    })
    function search() {
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/Inventory/search",//url
            data: $('#myForm').serialize(),
            success: function (result) {
                var myDataGrid = $('#myDataGrid').data('zui.datagrid');
                console.log(result)
                myDataGrid.setDataSource(result)
                myDataGrid.render()
            }
        });
    }

</script>
    <form action="/Inventory/search" id="myForm" class="form-horizontal" method="post">
        <div class="form-group">
            <div class="col-md-3">
                <div class="input-control has-label-left-lg">
                    <input id="materialName" name="materialName" value="@ViewBag.condition.materialName" type="text" class="form-control">
                    <label for="materialName" class="input-control-label-left"> 产品名称:</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-control has-label-left">
                    <input id="alias" name="alias" value="@ViewBag.condition.alias" type="text" class="form-control">
                    <label for="alias" class="input-control-label-left"> 别名:</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-control has-label-left">
                    <input id="mat_size" name="mat_size" value="@ViewBag.condition.mat_size" type="text" class="form-control">
                    <label for="mat_size" class="input-control-label-left"> 规格:</label>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">查询</button>
        </div>
    </form>

<table id="myDataGrid" class="table">
    <thead>
        <tr>
            <th>产品名称</th>
            <th>规格</th>
            <th>库存数量</th>
            <th>警戒数量</th>
            <th>单位</th>
            <th>别名</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.data != null)
        {
            foreach (var item in Model.data)
            {
                <tr>
                    <td>@item.materialName</td>
                    <td>@item.mat_size</td>
                    <td>@item.count</td>
                    <td>@item.alarmCount</td>
                    <td>@item.unit</td>
                    <td>@item.alais</td>
                    </tr>
            }
        }
    </tbody>
</table>
<div><ul id="dataPager" class="pager"></ul></div>
