<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/zuiCSS")
    @Scripts.Render("~/bundles/zuiJS")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            $('#mainMenu').on('click', 'a', function () {
                $('#mainMenu li.active').removeClass('active');
                $(this).closest('li').addClass('active');
                var mainID = $(this).attr('href').split('#')[1];
                $.cookie("mainID", mainID);
                getSecDir(mainID);
            });
            // 手动通过点击模拟高亮菜单项
            $('#treeMenu').on('click', 'a', function () {
                $('#treeMenu li.active').removeClass('active');
                $(this).closest('li').addClass('active');
                var id = $(this).parent().parent().parent('li').attr("data-id");
                if (id != undefined) {
                    $.cookie('openli', null, { path: '/' });
                    $.cookie('openli', id, {path:'/'});
                    $.cookie('activeli', null, { path: '/' });
                    $.cookie('activeli', $(this).parent('li').attr("data-id"), { path: '/' });
                }
            });
            activeMianDir();
        })
        function activeMianDir() {
            if (typeof ($.cookie('mainID')) != "undefined") {
                $('#mainMenu').children('li').each(function (index, e) {
                    if (parseInt($.cookie('mainID')) == (index + 1)) {
                        $('#mainMenu li.active').removeClass('active');
                        $(this).addClass('active');
                    }
                })
                getSecDir($.cookie('mainID'));
            }
            else {
                getSecDir(1);
            }
        }
        //通过mainID获取二级菜单
        function getSecDir(mainID) {
            $.post("/Home/getSecondDirs", { ID: mainID }, function (data) {
                data = $.parseJSON(data);
                if (data.success == "true") {
                    var secondMenu = $.parseJSON(data.menu);
                    if ($('#treeMenu').find("li").length == 0) {
                        $('#treeMenu').tree({ data: secondMenu });
                    }
                    else {
                        var secondTree = $('#treeMenu').data('zui.tree')
                        secondTree.reload(secondMenu);
                    }
                    activeSecDir();
                    activeThirdDir();
                }
            })
        }
        function activeSecDir() {
            var dataId = $.cookie('openli');
            if (dataId != "") {
                $('li[data-id=' + dataId + ']').attr('class', 'open');
            }
        }
        function activeThirdDir() {
            var dataId = $.cookie('activeli');
            if (dataId != "") {
                $('li[data-id=' + dataId + ']').attr('class', 'active');
            }
        }
    </script>
</head>
<body>
    <div id="firstLevel">
        @Html.Action("getMainDirs", "Home")
    </div>
    <div class="panel">
        <nav class="menu" data-ride="menu" style="width: 15%;float:left">
            <ul id="treeMenu" class="tree tree-menu"></ul>
        </nav>
        <div style="width: 85%;float:right" class="panel" id="tabsContent">
            @RenderBody()
        </div>
    </div>
</body>
</html>
