@using _123TribeFrameworker.Models.DirModels
@using _123TribeFrameworker.Entity
@using _123TribeFrameworker.Infrastructrue
@model Pager<List<SecondLevel>>
@{
    ViewBag.Title = "二级菜单";
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#myDataGrid').datagrid({
                sortable: true,
                checkable: true,
                selectable: false
            });
            $('#dataPager').pager({
                page: @Model.page,
                recTotal: @Model.recTotal,
                recPerPage:@Model.recPerPage,
                onPageChange: function(state, oldState) {
                    if (typeof(oldState.page)!="undefined" && state.page !== oldState.page) {
                        var href = $('#searchForm').attr("action");
                        href = href + "?page=" + state.page;
                        $('#searchForm').attr("action", href);
                        $('#searchForm').submit();
                    }
                }
            });
        })
        function updateInfo(id) {
            if (id != null) {
                $('#changeDir').attr('hidden', false);
                $('#id_upd').val(id);
                $.post('/SecondLevelDir/getSingleSecondDir', { id: id }, function (data) {
                    data = $.parseJSON(data);
                    $('#orderId_upd').val(data.orderId);
                    $('#content_upd').val(data.title);
                    $('#firstLevelID_upd').val(data.firstLevelID);
                    $('#url_upd').val(data.url);
                });
            }
        }
        function deleteModel(id) {
            $("#dataId").val(id);
            $('#deleteForm').submit();
        }
    </script>
}
<div>
    <form id="searchForm" action="/SecondLevelDir/searchSecondLevelDir" method="post" class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3">
                <div class="input-control has-label-left-lg">
                    <input type="text" class="form-control" value="@ViewBag.condition.title" id="secondLevelContent" name="title" />
                    <label for="secondLevelContent" class="input-control-label-left">菜单：</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-control has-label-left-lg">
                    <select id="firstLevelID" name="firstLevelID" class="chosen-select form-control">
                        @foreach (var item in Html.FirstMenuInfo())
                        {
                            if (ViewBag.Condition.firstLevelID == item.Key)
                            {
                                <option value="@item.Key" selected="selected">@item.Value</option>
                            }
                            else
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        }
                    </select>
                    <label for="firstLevelID" class="input-control-label-left">上级菜单：</label>
                </div>
            </div>
            <div class="col-md-1">
                <input type="submit" class="btn btn-block btn-primary" value="查询" />
            </div>
            <div class="col-md-1">
                @Html.ActionLink("增加","Add",null, new { @class= "btn btn-block btn-primary" })
            </div>
        </div>
    </form>

    <table class="table" id="myDataGrid">
        <thead>
            <tr>
                <th>顺序</th>
                <th>模块</th>
                <th>上级菜单</th>
                <th>修改</th>
                <th>删除</th>
                <th>URL</th>
                <th>创建时间</th>
                <th>创建人</th>
                <th>最后修改时间</th>
                <th>最后修改人</th>

            </tr>
        </thead>
        <tbody>
            @if (Model.data != null)
            {
                foreach (var item in Model.data)
                {
                    <tr>
                        <td>@item.orderId</td>
                        <td>@item.title</td>
                        <td>@Html.FirstMenuInfo()[item.firstLevelId]</td>
                        <td>@item.url</td>
                        <td>
                            @Html.ActionLink("修改", "Update", new { id = item.id }, new { @class = "btn btn-primary" })
                        </td>
                        <td>
                            <button class="btn btn-danger  " onclick="deleteModel(@item.id)" type="button">删除</button>
                        </td>
                        <td>@item.createdDate</td>
                        <td>@item.createdBy</td>
                        <td>@item.lastUpdatedDate</td>
                        <td>@item.lastUpdatedBy</td>

                    </tr>
                }
            }
        </tbody>
    </table>
    <div>
        <ul id="dataPager" class="pager"></ul>
    </div>



    <form hidden="hidden" method="post" action="/SecondLevelDir/Delete" id="deleteForm">
        <input id="dataId" name="id" />
    </form>
</div>
