@using _123TribeFrameworker.Entity
@using _123TribeFrameworker.Infrastructrue
@model Pager<List<OrderInfo>>
@{
    ViewBag.Title = "订单查询";
}
<script type="text/javascript">
    $(function () {
        $('#myDataTable').datagrid({ sortable: true,checkable:true,selectable:false });
        $('#dataPager').pager({
            page: @Model.page,
            recTotal: @Model.recTotal,
            recPerPage:@Model.recPerPage,
            onPageChange: function(state, oldState) {
                if (typeof(oldState.page)!="undefined" && state.page !== oldState.page) {
                    var href = $('#searchForm').attr("action");
                    href = href + "?page=" + state.page;
                    $('#searchForm').attr("action", href);
                    $('#searchForm').submit();
                }
            }
        });
        // 选择时间和日期
        $(".form-datetime").datetimepicker(
        {
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: "yyyy/mm/dd hh:ii:ss"
        })
    })
    function deleteByOrderNo(){
        if (checkCondition()) {
            var myTable = $('#myDataTable').data('zui.datagrid');
            var data = myTable.getCheckItems();
            var orderNo = data[0][0];
            if (confirm("确定删除订单"+orderNo+"？")) {
                location.href="/OrderInfo/delete?orderNo="+orderNo;
            }
        }
    }
    function updateOrder(){
        if (checkCondition()) {
            var myTable = $('#myDataTable').data('zui.datagrid');
            var data = myTable.getCheckItems();
            var orderNo = data[0][0];
            if (confirm("确定修改订单"+orderNo+"？")) {
                location.href="/OrderDetailInfo/update?orderNo="+orderNo;
            }
        }
    }
    function receiveOrder(){
        if (checkCondition()) {
            var myTable = $('#myDataTable').data('zui.datagrid');
            var data = myTable.getCheckItems();
            var orderNo = data[0][0];
            if (confirm("确定订单"+orderNo+"已到货？")) {
                location.href="/OrderDetailInfo/receive?orderNo="+orderNo;
            }
        }
    }
    function updateExceptedOrderNo(){
        var myTable = $('#myDataTable').data('zui.datagrid');
        var data = myTable.getCheckItems();
        var flag = true;
        if (data.length==0) {
            alert('请选中一个订单')
            return;
        }
        else if (data.length>1) {
            alert('每次只能处理一个订单')
        }
        else {
            var myTable = $('#myDataTable').data('zui.datagrid');
            var data = myTable.getCheckItems();
            var status = data[0][1];
            if (status!="收货异常") {
                alert("订单正常，无需异常处理")
                return;
            }
            var orderNo = data[0][0];
            if (confirm("确定订单"+orderNo+"补发货物已到货？")) {
                location.href="/OrderDetailInfo/dealReceivedOrder?orderNo="+orderNo;
            }
        }
    }
    function checkCondition(){
        var myTable = $('#myDataTable').data('zui.datagrid');
        var data = myTable.getCheckItems();
        var flag = true;
        if (data.length==0) {
            alert('请选中一个订单')
            flag = false;
        }
        else if (data.length>1) {
            alert('每次只能处理一个订单')
            flag = false;
        }
        else{
            var status = data[0][1];
            if (status!="已下发") {
                alert("订单已收货，无法重复操作")
                flag = false;
            }
        }
        return flag;
    }
</script>
<form class="form-horizontal" method="post" action="/OrderInfo/search" id="searchForm">
    <div class="form-group">
        <div class="col-md-3">
            <div class="input-control has-label-left-lg">
                <input id="orderNo" name="orderNo" value="@ViewBag.condition.orderNo" type="text" class="form-control">
                <label for="orderNo" class="input-control-label-left"> 进货单号:</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-control has-label-left-lg">
                <select id="status" name="status" class="chosen-select form-control">
                    <option value=""></option>
                    @foreach (var item in Html.orderStatus())
                    {
                        if (ViewBag.condition.status == item.Key)
                        {
                            <option value="@item.Key" selected="selected">@item.Value</option>
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    }
                    
                </select>
                <label for="status" class="input-control-label-left"> 单据状态:</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-control has-label-left-lg">
                <input id="createdDateBegin" name="createdDateBegin" value="@ViewBag.condition.createdDateBegin" type="text" class="form-control form-datetime">
                <label for="createdDateBegin" class="input-control-label-left"> 创建时间1:</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-control has-label-left-lg">
                <input id="createdDateEnd"name="createdDateEnd" value="@ViewBag.condition.createdDateEnd" type="text" class="form-control form-datetime">
                <label for="createdDateEnd" class="input-control-label-left"> 创建时间2:</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <div class="input-control has-label-left-lg">
                <input id="receivedDateBegin"name="receivedDateBegin" value="@ViewBag.condition.receivedDateBegin" type="text" class="form-control form-datetime">
                <label for="receivedDateBegin" class="input-control-label-left"> 收货时间1:</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-control has-label-left-lg">
                <input id="receivedDateEnd"name="receivedDateEnd" value="@ViewBag.condition.receivedDateEnd" type="text" class="form-control form-datetime">
                <label for="receivedDateEnd" class="input-control-label-left"> 收货时间2:</label>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">查询</button>
    <button class="btn btn-primary" type="button" onclick="receiveOrder()">收货</button>
    <button class="btn btn-danger" type="button" onclick="deleteByOrderNo()">删除</button>
    <button class="btn btn-danger" type="button" onclick="updateOrder()">修改</button>
    <button class="btn btn-primary" type="button" onclick="updateExceptedOrderNo()">处理异常</button>
    @Html.ActionLink("创建进货单", "add", "OrderDetailInfo", null, new { @class = "btn btn-primary" })
</form>
<table id="myDataTable" class="table">
    <thead>
        <tr>
            <th>进货单号</th>
            <th>单据状态</th>
            <th>进货总价</th>
            <th>实际进货总价</th>
            <th>创建时间</th>
            <th>创建人</th>
            <th>收货时间</th>
            <th>收货人</th>
            <th>最后修改时间</th>
            <th>最后修改人</th>
    </thead>
    <tbody>
        @if (Model.data.Count > 0)
        {
            for (int i = 0; i < Model.data.Count; i++)
            {
                <tr>
                    <td>@Model.data[i].orderNo</td>
                    <td>@Model.data[i].orderStatus.status</td>
                    <td>@Model.data[i].sumPrice</td>
                    <td>@Model.data[i].sumPriceReal</td>
                    <td>@Model.data[i].createdDate</td>
                    <td>@Model.data[i].createdBy</td>
                    <td>@Model.data[i].receivedDate</td>
                    <td>@Model.data[i].receivedBy</td>
                    <td>@Model.data[i].lastUpdatedDate</td>
                    <td>@Model.data[i].lastUpdatedBy</td>
                </tr>
            }
        }
    </tbody>
</table>
<div><ul id="dataPager" class="pager"></ul></div>

@*<div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-header" id="modalContent" style="text-align:center">
            </div>
            <div class="modal-footer">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default btn-block" data-dismiss="modal">取消</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" onclick="submitReceive()">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>*@
