@using _123TribeFrameworker.Models
@using _123TribeFrameworker.Infrastructrue
@model IEnumerable<AplicationRole>
@{
    ViewBag.title = "角色管理";
}
<div class="panel panel-primary">
    <div class="panel-heading">角色管理</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="25%">角色ID</th>
                <th width="15%">角色名称</th>
                <th width="40%">Users</th>
                <th width="20%">操作</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr><td colspan="4" style="text-align:center">No Role</td></tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@string.Join(",", item.Users.Select(x => Html.getUserName(x.UserId)))</td>
                        <td>
                            @using (Html.BeginForm("delete", "RoleUsers", new { id = item.Id }))
                            {
                                @Html.ActionLink("修改", "edit", "RoleUsers", new { id = item.Id }, new { @class = "btn btn-warning" })
                                <button type="submit" class="btn btn-danger">删除</button>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @Html.ActionLink("创建角色", "create", "RoleUsers",null,new { @class="btn btn-primary"})
</div>