@using _123TribeFrameworker.Entity
@model Pager<List<InStorageRecord>>

@{
    ViewBag.title = "入库记录查询";
}
<script type="text/javascript">
    $(function () {
        $('#myDataGrid').datagrid({
            sortable: true,
            checkable: true,
            selectable: false
        })
        $('#dataPager').pager({
            page: @Model.page,
            recTotal: @Model.recTotal,
            recPerPage:@Model.recPerPage,
            onPageChange: function(state, oldState) {
                if (typeof(oldState.page)!="undefined" && state.page !== oldState.page) {
                    var href = $('#searchForm').attr("action");
                    href = href + "?page=" + state.page;
                    $('#searchForm').attr("action", href);
                    $('#searchForm').submit();
                }
            }
        });
    })
</script>
<form action="/InStorageRecord/search" method="post" class="form-horizontal" id="searchForm">
    <div class="form-group">
        <div class="col-md-3">
            <div class="input-control has-label-left-lg">
                <input name="orderNo"  value="@ViewBag.condition.orderNo" type="text" class="form-control">
                <label for="orderNo" class="input-control-label-left"> 进货单号:</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-control has-label-left-lg">
                <input name="receivedOrder" value="@ViewBag.condition.receivedOrder" type="text" class="form-control">
                <label for="receivedOrder" class="input-control-label-left"> 回执单号:</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-control has-label-left-lg">
                <input name="materialName" value="@ViewBag.condition.materialName" type="text" class="form-control">
                <label for="materialName" class="input-control-label-left"> 产品名称:</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-control has-label-left">
                <input name="mat_size" value="@ViewBag.condition.mat_size" type="text" class="form-control">
                <label for="mat_size" class="input-control-label-left"> 规格:</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <div class="input-control has-label-left-lg">
                <input name="createdDateBegin" value="@ViewBag.condition.createdDateBegin" type="text" class="form-control form-datetime">
                <label for="createdDateBegin" class="input-control-label-left"> 收货时间1:</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-control has-label-left-lg">
                <input name="createdDateEnd" value="@ViewBag.condition.createdDateEnd" type="text" class="form-control form-datetime">
                <label for="createdDateEnd" class="input-control-label-left"> 收货时间2:</label>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">查询</button>
    </div>
</form>

<table class="table" id="myDataGrid">
    <thead>
        <tr>
            <th>进货单号</th>
            <th>产品名称</th>
            <th>规格</th>
            <th>进价</th>
            <th>数量</th>
            <th>回执单号</th>
            <th>收货时间</th>
            <th>收货人</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model.data)
            {
                <tr>
                    <td>@item.orderNo</td>
                    <td>@item.materialInfo.materialName</td>
                    <td>@item.materialInfo.mat_size</td>
                    <td>@item.priceIn</td>
                    <td>@item.countReal</td>
                    <td>@item.receivedOrder</td>
                    <td>@item.createdDate</td>
                    <td>@item.createdBy</td>
                </tr>
            }
        }
    </tbody>
</table>
<div><ul id="dataPager" class="pager"></ul></div>
