@using _123TribeFrameworker.Entity
@model List<OrderDetailInfo>
@{
    ViewBag.title = "订单入库";
}
<script type="text/javascript">
    function receiveOrder() {
        var receiveOrder = prompt("请输入回执单号")
        if (receiveOrder == null) {
            return;
        }
        else if (receiveOrder == "") {
            alert("回执单号不能为空");
        } else {
            $('input[name="receivedOrder"]').val(receiveOrder)
            $('#myForm').submit();
        }
    }
</script>
<div style="color:red">
    @Html.ValidationSummary(false)
</div>
<div class="panel panel-primary">
    <div class="panel-heading" style="text-align:center">
        <h3>订单入库</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" action="/OrderDetailInfo/receive" method="post" id="myForm">
            <input hidden="hidden" name="receivedOrder" />
            @for (int i = 0; i < Model.Count; i++)
            {
                <input hidden="hidden" name="[@i].materialId" value="@Model[i].materialId" />
                <input hidden="hidden" name="[@i].orderNo" value="@Model[i].orderNo" />
                
                <div class="form-group">
                    <label class="col-md-1">产品名称:</label>
                    <div class="col-md-2">
                        <input class="form-control" type="text" readonly="readonly" value="@Model[i].materialName" />
                    </div>
                    <label for="countReference" class="col-md-1">应收数量:</label>
                    <div class="col-md-1">
                        <input class="form-control" type="number" readonly="readonly" value="@Model[i].num" name="[@i].countReference" />
                    </div>
                    <div>
                        <label for="count" class="col-md-1">实收数量:</label>
                        <div class="col-md-1">
                            <input class="form-control" type="number" value="@Model[i].num" name="[@i].countReal" />
                        </div>
                    </div>
                    <label class="col-md-1">参考进价:</label>
                    <div class="col-md-1">
                        <input class="form-control" type="number" readonly="readonly" value="@Model[i].materialInfo.referencePriceIn" />
                    </div>
                    <div>
                        <label for="priceIn" class="col-md-1">实际进价:</label>
                        <div class="col-md-1">
                            <input class="form-control" type="number" value="@Model[i].materialInfo.referencePriceIn" name="[@i].priceIn" />
                        </div>
                    </div>
                </div>
                <hr>
            }
            <div class="col-md-6">
                <button type="button" class="btn btn-primary btn-block" onclick="receiveOrder()">收货</button>
            </div>
            <div class="col-md-6">
               @Html.ActionLink("返回", "Index", "OrderInfo", null, new { @class = "btn btn-default btn-block" })
            </div>
        </form>
    </div>
</div>
